<!DOCTYPE html>
<html lang="en">
<head>
	<title>change password</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->

	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css')}}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100"  >
				

				<form class="login100-form validate-form " method="post" action = "{{url_for('changepass')}}">
					<span class="login100-form-title">
						change password
					</span>


					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					
					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn" >
							change
						</button>
					</div>

					
				</form>
			</div>
		</div>
	</div>
	

</body>
</html>